#search-bar {
  padding-bottom: 10px;
}


#map-container {
  display: flex;
  flex-direction: column;
  padding-top: 81px;
}

.google-map {
  padding-top: 41px; /* Adjusted to lower the map */
  width: 1970px;
  height: 940px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 7px;
}

#place-input {
  box-sizing: border-box;
  border: none;
  width: 400px;
  height: 50px;
  padding: 0 20px;
  border-radius: 25px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  font-size: 16px;
  outline: none;
  transition: all 0.3s ease;
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  background-color: white;
}

#place-input:focus {
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.15);
  width: 450px;
}

#place-input::placeholder {
  color: #aaa;
}
